@import "sitesettings"
// This and alt-base need to be merged and labeled as base 

#filter-container
    margin: auto
    max-width: $width


#filter-control-bar
    display: flex
    flex-wrap: wrap
    justify-content: center
    margin-bottom: 2%
    button
        color: $gutenberg-gray
        @include resp-font(1.2vw, 1rem)
        padding: .5%
        flex-basis: auto
        background: $laurel-green
        border: 1px solid #9aa48b
    button:focus
        background: $brand
        color: $laurel-green
        border: 1px solid black

    .selectors-drop-down
        label
            @include resp-font(1vw, .9rem)


#results 
    display: flex
    flex-wrap: wrap
    justify-content: center
    .list-item
        min-width: 250px
        margin: 1% 1% 0 0
        flex-basis: 45%
        gap: 2%
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        br
            content: ' '
        br:after 
            content: ' '
        a
            color: $brand-darker
            @include resp-font(.9vw, .9rem)


.pagination-bar
    display: flex
    justify-content: center
    margin: 2%
    button
        color: $gutenberg-gray
        padding: 5px
        background: $laurel-green
        border: 1px solid #9aa48b
        @include resp-font(1vw, .75rem)
    #pg-position
        max-width: 50px
        width: 5%


#spinner-container
    @include resp-font(.9vw, .9rem)
    text-align: center
    margin-top: 5% 


#spinner
    $spinner-thickness: 16px
    $spinner-size: 100px
    margin: auto
    border: $spinner-thickness solid $brand-light
    border-top: $spinner-thickness solid $brand-dark
    border-bottom: $spinner-thickness solid $brand
    border-radius: 50%
    width: $spinner-size
    height: $spinner-size
    animation: spin 2s linear infinite
@keyframes spin 
    0% 
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)
    