{
    "@context": "https://schema.org",
    "@type": "Person",
    "image": "https://www.gutenbergpress.oddlygeek.com/static/imgs/author_portraits/walter.jpg",
    "name": "Walter Branning",
    "alternateName": "Walter D. Branning",
    "email": "walter.d.branning@icloud.com",
    "telephone": "(256)591-7495",
    "nationality": "American",
    "url": "https://www.gutenbergpress.oddlygeek.com/about/walter/resume",
    "sameAs": ["www.linkedin.com/in/walter-branning"],
    "worksFor": [
        {
            "@type": "Organization",
            "name": "GutenbergPress@OddlyGeek",
            "url": "https://www.gutenbergpress.oddlygeek.com/" 
        }
    ],
    "affiliation": [
        {
            "@type": "Organization",
            "name": "GutenbergPress@OddlyGeek",
            "url": "https://www.gutenbergpress.oddlygeek.com/",
            "sameAs": [
                "https://twitter.com/OddlyGeek"
            ]
        }
    ],
    "alumniOf":[
        {
            "@tpye": "CollegeOrUniversity",
            "name": "Gadsden State Community College",
            "url": "https://www.gadsdenstate.edu/"
        },
        {
            "@type": "CollegeOrUniversity",
            "name": "Codecademy",
            "url": "https://www.codecademy.com/"
        }
    ]
}
