<!DOCTYPE html>
<html lang="en">
<head>
{% include 'googletag.jinja' %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="author" content="https://www.linkedin.com/in/walter-branning/">
<meta name="description" content="Resume for Python Developer Walter Branning">
<title>Walter Branning - Resume</title>
<link rel="shortcut icon" href="{{ url_for('static', filename='imgs/icons/walt.ico')}}" type="image/x-icon" >
<link rel="stylesheet" href="{{ url_for('static', filename='css/resume.css') }}">
<script type="application/ld+json">{% include 'resumeJson.jinja'%}</script>
</head>
<body>
<div class="page" id="page-1">
<aside class="side-bar">
    {# <h2>Walter Branning</h2> #}
    <img id="headshot" src="{{ url_for('static', filename='imgs/icons/Modern-WB-Logo.jpg') }}" alt="https://www.kittl.com Created with www.kittl.com">
    {# <img id="headshot" src="{{ url_for('static', filename='imgs/author_portraits/walter.jpg') }}" 
         alt="A picture of Walter Branning standing in front of the New York City skyline"> #}
    <div class="aside-item contact">
        
        <h3>Contact</h3>
        
        <span class="aside-label">Email &#9993;</span>
        <span class="aside-detail small-text"><a href="mailto:walter.d.branning@icloud.com">Walter.D.Branning&#8203;@icloud.com</a></span>
        
        <span class="aside-label">Phone &#9743;</span>
        <span class="aside-detail">(256)591-7495</span> 
        
        <span class="aside-label">
            <a href="https://www.linkedin.com/in/walter-branning"><img src="{{ url_for('static', filename='imgs/icons/LI-Logo.png') }}" alt="LinkedIn logo image"></a>
        </span>
        <span class="aside-detail external-link"><a href="https://www.linkedin.com/in/walter-branning">linkedin.com/in/walter-branning</a></span>

        <span class="aside-label">
            <a href="https://github.com/WaltBranning"><img src="{{ url_for('static', filename='imgs/icons/github-mark-white.svg') }}" style="width:15%;" alt="GitHub logo image">GitHub</a>
        </span>
        <span class="aside-detail external-link"><a href="https://github.com/WaltBranning">github.com/WaltBranning</a></span>

    </div>

    <div class="aside-item">
        <h3>Skills</h3>
        <div id="skills">
            <div class="divider"><span>--Strongest Technical--</span></div>
                {% for skill in ['Python3', 'Flask Microframework', 'Back-End Development', 'Linux Enviroment', 'CLI Tools'] %}
                    <li><span class="aside-detail"><b>{{skill}}</b></span></li>
                {% endfor %}
            <div class="divider"><span>--Other Technical--</span></div>
                {% for skill in ['CSS', 'HTML', 'SASS', 'JavaScript', 'SQLAlchemy'] %}
                    <li><span class="aside-detail"><b>{{skill}}</b></span></li>
                {% endfor %}
            <div class="divider"><span>--Professional--</span></div>
                {% for skill in ['Creative Problem Solving', 'Peer Mentoring','Technical Training', 
                                'Communication', 'Quick Learner', 'Quality Motivated', 'Analytical', 
                                'Versatile', 'Self-directed Learning', ]
                %}
                <li><span class="aside-detail"><b>{{skill}}</b></span></li>
            {% endfor %}
        </div>
    </div>


</aside>

<section id="main-body">
    <header>
        <h1>Walter Branning</h1>
        <h4>Software Engineer</h4>
        <div class="separator"><h2></h2></div>
        <p class="summary"><b>Building, Learning, Creating - </b>These words reflect my passion and drive to 
    learn how things work, and then to take that knowledge and apply it. 
    Possessing a naturally curious mind that enjoys discovering the why and how
    things work and blessed with an ability to quickly grasp concepts and apply them. This
    ability along with a willing eagerness to learn, allow for quick adaptation to the meet the
    requirements of the task at hand. <b>Give me a challenge and I will
    rise to meet it.</b></p>  

    <div class="separator"><h2>Professional Summary</h2></div>
        <p class="summary">Developing a solid understanding of the Python language its functionality and 
            methodologies have been my primary focus, and I am most confident in the areas of server side 
            web-development and Python applications. However, in order to build a robust skill set, I have 
            not limited myself to back-end but have gained a measure of front-end familiarity and skills.</p>
        <p class="summary">Some relevant past experience has been: Python applications including both online,
    such as websites and API development; as well as local applications including: file
    modification batching routines, web scraping, cleaning and parsing data dumps. Including experience developing 
    in Windows but with more familiarity in Linux development environments and work flows; including working from 
    within the CLI and including tools such as ssh, nano, Git, etc, while also using several different IDEs like Visual Studio Code, along with other environments
    and tools such as Jupyter-Notebook and ipython.</p>                 
    </header>

    <div class="separator"><h2>Experience / Work History</br><small>sorted by relevance</small></h2></div>

    <div class="experience">
        <h3>Software Engineer - Fullstack | <a href="https://www.gutenbergpress.oddlygeek.com">GutenbergPress.OddlyGeek.com</a></h3>
        <h4>Anniston, AL | Volunteer/Non-Profit</h4>
        <p>The GutenbergPress provides a venue for the appreciation of classic literature, and serves as an effective reading room
           for a eclectic selection of public domain books from the Gutenberg Project. Currently still under development using Python, 
           Javascript, CSS3, and HTML5 and putting priority on concepts of modern web design such as mobile friendly responsive UI design, 
           pleasant UX and efficient resource usage. Notable features being: online ebook reader, browser side indexedDB database for 
           large catalog caching of a catalog of almost 60,000 titles forcing creative solution finding to maintain efficiency and usability.</p>
        <ul class="experience-list">
            <li>&#10022; Built a <a href="https://flask.palletsprojects.com/">Flask</a> web app with content delivery a combination of views for site structure and API to handle book data requests from the client-side application, with server-side data handled by a SQLite database.</li>
            <li>&#10022; Implemented user features and client-side optimization in JS working with the libraries: <a href="http://futurepress.org/">epub.js</a> eBook reader for ebook preview, and <a href="https://dexie.org/">dexie.js</a> for catalog caching with IndexDB.</li>
            <li>&#10022; Designed a UI and UX using <a href="https://sass-lang.com/">SASS</a> as preprocessor, prioritizing mobile responsiveness and quickly adaptable scheming.</li>
            <li>&#10022; Generated pages using the Jinja2 templating engine, focusing on SEO friendliness and maintaining <a href="https://schema.org/">Schema.org</a> compliant structured data.</li>
        </ul>
    </div>
    
    {# <a id="pdf-download" href='/about/walter/resume/resume.pdf'>PDF Version</a> #}
</section>
</div>

<div class="page" id="page-2">
    <div class="aside side-bar">
        <div class="aside-item education">  
            <h3>Education</h3>
            <div class="divider"><span>--Degree--</span></div>
            <span class="aside-label">Gadsden State Community College</span>
            <span class="aside-detail small-text">Associates Degree<br>Electronics Engineering Technologies<br>Oct 2001 - May 2004</span>
            {# <span class="aside-detail aside-text smaller-text">
                During this time, produced a practical understanding along with real-world 
                application of electrical and electronic theory. Learning about the electromagnetic
                principles behind AC/DC circuits, as well as the characteristics of series and 
                parallel circuits, and how resistive, capacitive, and inductive components behave
                in these circuits. Also training in the function of semiconductor and solid-state 
                electronic circuits, such as bridge rectifiers, signal amplifiers, and transistor 
                latches, as well as digital logic circuits and integrated circuits. 
                Additionally, becoming familiar with the visual forms of major electronic components,
                such as resistors, capacitors, diodes, transistors, and transformers, 
                and able to recognize them in both schematic representation and physical packaging.
                Furthermore, traingin in troubleshooting equipment with visual inspection
                and detailed schematics, using equipment such as volt-ohm and amp meters,
                oscilloscopes, digital probes, signal tracers, and frequency generators.
                Overall, the time at this school provided a solid and invaluable foundation in electrical 
                and electronic theory and practical skills.
            </span> #}
            
            {# <span class="aside-label">Courses / Certificates</span> #}
        </div>
        <div class="aside-item">
            <div class="divider"><span>--Courses / Certificates--</span></div>
            <div ><span class="aside-label">Codecademy:</span></div>
                <div class="course-list">
                {% for skill in ['Machine Learning/AI Engineering Foundations', 
                                 'Learn Data Analysis with Pandas',
                                 'Linear Algebra', 'Learn SQL', 'Learn Git & GitHub']
                %}
                <li class="aside-detail"><span ><b>{{skill}}</b></span></li>
                {% endfor %}
                </div>
            
        </div> 
    </div>
    <section id="main-body">

        <div class="experience">
            <h3>Web Developer - Fullstack | <a class="sitelinks" href="https://www.thereformedcodex.com">TheReformedCodex.com</a></h3>
            <h4>Anniston, AL | Volunteer/Non-Profit</h4>
            <p>The Reformed Codex is a website developed as a practical hobby project. I took
                skills learned from various online resources and put them to use in a real world
                environment. Allowing me the opportunity to grasp Python practically and to reinforce skills
                and concepts from within a live system, all while introducing new challenges requiring me to
                improve my knowledge base and skills.</p>
            <ul class="experience-list">
                <li>&#10022; Used the Flask framework to build a MVC patterned backend to serve content dynamically.</li>
                <li>&#10022; Developed effective and efficiently coded solutions, conforming to PEP8 style guidelines for readability.</li>
                <li>&#10022; Provisioned SQLite and MySQL databases and queried with the SqlAlchemy toolkit or where necessary SQL statements.</li>
                <li>&#10022; Generated dynamic HTML pages using Jinja2 templating engine featuring Bootstrap and custom css design elements.</li>
            </ul>
        </div>
        <div class="experience">
            <h3>Electronics Mechanic | Anniston Army Depot</h3>
            <h4>Anniston, AL January 2003 – October 2021</h4>
            <p>Was regarded as a subject matter specialist and
            frequently called upon to provide technical guidance and training on the testing,
            fabrication, and repair of difficult or complex problems or assemblies. Often 
            serving as the prototype or first piece fabricator, working together with engineers 
            and quality assurance to find best shop practices and manufacturing procedures for the 
            assembly along with any design issues that effect functionality or ability to be fabricated. </p>
            <ul>
                <li>&#10022; Wrote and modified circuit testing programs for DIT-MCO automated computer controlled circuit analyzers.</li>
                <li>&#10022; Made high quality repairs that meets or exceeds the quality assurance requirements demanded for mission critical electronic and electrical equipment.
                <li>&#10022; Communicated with engineers and vendors to correct any design issues and submit ideas for improvements in future revisions.</li>
                <li>&#10022; Leveraged comprehensive technical and analytical expertise to solve complex problems by interpreting blueprints, wiring diagrams, and schematics.</li>
                <li>&#10022; Worked together with engineers and quality assurance to find best shop practices and manufacturing procedures for the assembly.</li>
            </ul>
        </div>
    </section>
</div>

</body>
</html>
